{% extends "base.html" %}
{% load static %}
{% block title %}Project-Details{% endblock title %}
{% block content %}
    <h1 class="mt-5 border-bottom border-white">Project Details</h1>
    <div class="card shadow mt-5">
      <div class="row">
        <div class="col-sm-5">
          {% if project.image %}
          <img src="{{project.image.url}}" class="img-fluid" alt="{{project.title}}">
          {% endif %}
        </div>
        <div class="col-sm-6">
          <div class="card-body">
            <h5 class="card-title fw-bold">{{project.title}}</h5>
            <p class="card-text">{{project.description}}</p>
            <h6 class="fw-bold">Technology used</h6>
            <p class="card-text"><small class="text-body-secondary">{{project.technology}}</small></p>
            <a href="{% url 'project_list' %}" class="btn btn-primary btn-sm">Back</a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'update_project' project.id %}" class="btn btn-warning btn-sm">Edit</a>
            <form action="{% url 'delete_project' project.id %}" method="POST" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
